<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Todos los proyectos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



<ion-button [routerLink]="['/resumen-proyecto']" expand="block" fill="clear" shape="round">
  Click me
</ion-button>



  <div class="lienzo">
    <div id="buscador">
      <p>Buscar</p>
      <ion-input><ion-icon name="search-outline" ></ion-icon></ion-input>      
    </div>
    <div id="proyectos">
      <div class="proyecto" *ngFor="let proyecto of proyectos">
        <ion-img [src]="'http://localhost:3000/' + proyecto.imgProyecto" alt="foto_proyecto"></ion-img>
        <div class="informacion">
          <h3>{{proyecto.nombre}}</h3>
          <p>{{proyecto.descripcion}}</p>
        </div>
      </div>
    </div>
    <ion-button slot="fixed"><ion-icon name="add-outline"></ion-icon></ion-button>
  </div>

</ion-content>




<!-- <footer>


      <ion-button size="large" [routerLink]="['/registro-proyectos']">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>


</footer> -->
