<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Añadir Tarea
    </ion-title>
  </ion-toolbar>
</ion-header> lines="none"

<ion-content [fullscreen]="true">
<div class="form">
  <div class="input">
    <ion-label>Nombre</ion-label>
    <ion-item lines="none">
      <ion-input placeholder="Soy una tarea!!" type="text" [(ngModel)]="tarea.nombre"></ion-input>
    </ion-item>
  </div>
  <div class="input-select">
    <ion-label>Prioridad</ion-label>
    <ion-item lines="none">
      <ion-select placeholder="baja" [(ngModel)]="tarea.prioridad">
        <ion-select-option *ngFor="let opcion of prioridad" [value]="opcion" >{{opcion}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="input-select">
    <ion-label>Proyecto</ion-label>
    <ion-item lines="none">
      <ion-select placeholder="Area 1" [(ngModel)]="tarea.proyecto">
        <ion-select-option *ngFor="let proyecto of proyectos" [value]="proyecto" >{{proyecto.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="input-select">
    <ion-label>Area</ion-label>
    <ion-item lines="none">
      <ion-select placeholder="Area 1" [(ngModel)]="tarea.area">
        <ion-select-option *ngFor="let area of areas" [value]="area" >{{area.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="input-select">
    <ion-label>Persona asignada</ion-label>
    <ion-item lines="none">
      <ion-select placeholder="Pepe" [(ngModel)]="tarea.personaAsignada">
        <ion-select-option *ngFor="let jefes of personalJefe" [value]="jefes" >{{jefes.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="input">
    <ion-label>Semanas</ion-label>
    <ion-item lines="none">
      <ion-input placeholder="1" type="number" [(ngModel)]="tarea.semanasEsperadas"></ion-input>
    </ion-item>
  </div>
  <div class="input-select">
    <ion-label>Fecha limite</ion-label>
    <ion-item id="open-modal2" lines="none">
      <ion-input>{{tarea.fechaLimite | date: 'dd.MM.yyyy'}}</ion-input>
      <ion-note slot="end">Fecha</ion-note>
    </ion-item>
    <ion-modal trigger="open-modal2" [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          presentation="date"
          size="cover"
          [showDefaultButtons]="true"
          [(ngModel)]="tarea.fechaLimite"
        ></ion-datetime>
      </ng-template> 
    </ion-modal>
  </div>
  <div class="input-area">
    <ion-label>Detalles</ion-label>
    <ion-item lines="none">
      <ion-textarea [(ngModel)]="tarea.detalles"></ion-textarea>    
    </ion-item>
  </div>
  <div class="input-area">
    <ion-label>Adjuntos</ion-label>
    <ion-item lines="none">
      <input type="file" class="d-none" (change)="onFileSelected($event)" #photoInput multiple>
      <div class="files">

      </div>    
    </ion-item>
  </div>
  <div class="buttons">
    <ion-button (click)="agregarTarea()">Crear</ion-button>
  </div>
</div>
</ion-content>
