<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Resumen del proyecto</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <img src="https://images.unsplash.com/photo-1542361345-89e58247f2d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img-fluid rounded-top" alt="">

  <ion-text color="primary">
    <h2>Inversion / Ganancia</h2>
  </ion-text>

  <!-- //grafica//
  <div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="chart"></canvas>
</div> -->

<ion-text color="primary">
  <h1>Cronograma de actividades</h1>
</ion-text>
<ion-card>
  <ion-button [routerLink]="['/cronograma']" expand="block" fill="clear" shape="round">
    Ver Cronograma
  </ion-button>
</ion-card>

<ion-text color="primary">
 <h1>Pesonal involucrado</h1>

</ion-text>

<ion-card-content>
  Altos mandos
  <ion-list>
    <ion-item *ngFor="let j of jefes"
     [routerLink]="j.redirectTo" detail>
     <ion-icon name="j.icon"></ion-icon>
     <ion-label>{{j.nombre}}</ion-label>
    </ion-item>
  </ion-list>
</ion-card-content>

<ion-card-content>
  Personal
  <ion-list>
    <ion-item *ngFor="let p of personal"
     [routerLink]="p.redirectTo" detail>
     <ion-icon name="p.icon"></ion-icon>
     <ion-label>{{p.nombre}}</ion-label>
    </ion-item>
  </ion-list>
</ion-card-content>







</ion-content>
