<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Nombre de la tarea/objetivo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
<div class="ion-text-center">
<p>
  Prioridad: <ion-text color="success">Baja</ion-text>/<ion-text color="warning">Media</ion-text>/<ion-text color="danger">Alta</ion-text>
</p>
</div>  

<ion-item>
<div class="estatus">
  Estatus:
<ion-textarea placeholder="En progreso/terminado"></ion-textarea>
</div>
</ion-item>

<ion-item>
  <div class="perasig">
    Persona asignada:
   <ion-textarea  placeholder="Empleado"></ion-textarea>
    </div>
</ion-item>

<ion-item>
  <div class="detalles">
    Detalles:
   <ion-textarea  placeholder="Detalles"></ion-textarea>
    </div>
</ion-item>

<ion-item>
  <div class="fechalim">
    Fecha Límite:
   <ion-textarea  placeholder="YY/MM/DD"></ion-textarea>
    </div>
</ion-item>

<ion-item>
  <div class="actualizaciones">
    Actualizaciones:
   <ion-textarea  placeholder="Actualizaciones"></ion-textarea>
    </div>
</ion-item>

<div class="adjuntos">
</div>

<ion-label>
  Crear nueva actualización
</ion-label>

<ion-item>
  <div class="notas">
    Notas:
   <ion-textarea  placeholder="Notas"></ion-textarea>
    </div>
</ion-item>

<div class="ion-text-center">
Adjuntos:
<br>  
</div>

<div class="actualizar">
  <ion-button color="botonesndlt" expand="block" shape="round">Actualizar</ion-button>
</div>
<div class="editar">
  <ion-button color="botonesndlt" expand="block" shape="round">Editar</ion-button>
</div>
<div class="Terminar">
  <ion-button color="success"expand="block" shape="round">Terminar</ion-button>
</div>
</ion-card>
</ion-content>

